body {
  margin: 0; 
  padding: 0; 
  background-color: white;
}

header {
  width: 100vw;
  color: black;
  text-align: center;
  padding: 10% 0 0; 
  border-bottom: 1px solid #ddd;
  margin: 0;
  display: flex;
  flex-direction: column; 
  justify-content: space-between; 
  height: 80vh; 
  z-index: 1000;
}

.header-class h1 {
  margin: 0; 
  font-size: 5em;
  margin-bottom: 0;
  margin-top: 50px 
}

.header-class p {
  font-size: 50px;
  margin: 0; 
  margin-top: -100px; 
}

.header-class nav {
  background-color: lightblue;
  padding: 20px 0;
  margin: 0;
  width: 100vw; 
}

.header-class nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 100%; 
  font-size: 18px;
}

.header-class nav ul li {
  margin: 0 15px;
}

.header-class nav ul li a {
  text-decoration: none;
  font-size: 1.2em;
  color: black;
}
.header-class nav ul li a:hover {
  color: white;
}

section {
  padding: 20px;
  border-bottom: 1px ;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}

.about-me .content h2 {
  text-align: center;
  font-size: 40px;
}

.about-me h2 {
  text-decoration: underline;
  margin-top: 10px;

}

.about-text {
  text-align: right;
  margin-left: 30%;
  margin-top: 5%;
  background-color: lightblue;
}

.about-me img {
  align-self: flex-start;
  border-radius: 5px;
}

.resized-image {
  width: 200px; 
  height: auto; 
  margin-top: -15%; 
  margin-left: 7%;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

#projects h2 {
  font-size: 40px;
  text-decoration: underline;
  margin-top: -10%; 
}

#projects figure {
  text-align: center; 
}

#projects figure a img {
  align-self: center; 
  max-width: 100%; 
}

#projects p {
  text-align: center; 
  margin-top: 30px; 
}

#projects figcaption {
  margin-top: 5px; 
}

#projects a[target="_blank"] {
  align-self: center;
  max-width: 100%;
  color: black; 
  text-decoration: underline;
}

#projects a[target="_blank"]:hover {
  color: lightblue; 
}

#projects div {
  text-align: center;
  font-size: 20px;
}

.my-skills {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  padding: 10%;
}

.my-skills h2 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.skills-list {
  display: flex;
}

.frontend-section,
.backend-section {
  flex: 1; 
  padding: 50px;
  margin: 20px;
  font-size: 20px; 
}

.frontend-section {
  background-color: lightblue;
  border: 5px solid #ccc;
}

.backend-section {
  background-color: lightblue;
  border: 5px solid #ccc;
}

.my-resume {
  text-align: center;
  font-size: 25px;
}
.my-resume a {
  color: black;
}
.my-resume a:hover {
  color: lightblue;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.contact h2 {
  font-size: 40px;
  display: block; 
  text-align: center; 
  margin-bottom: 0;
}

.contact p {
  font-size: 20px;
}

.contact form {
  background-color: lightblue;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
  color: black;
}

.contact input {
  height: 20px;
}

.contact input,
.contact textarea {
  width: 100%;
  margin: 1px 0; 
}

.contact textarea {
  height: 140px; 
}

.contact button {
  width: 101.5%;
  margin-top: 15px;
  color: white;
  border: 4px solid white;
  border-radius: 5px; 
  background-color: lightblue;
  cursor: pointer;
  font-size: 15px;
}


#footer {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}

#footer nav ul {
  list-style-type: none;
  display: flex; 
}

#footer nav ul li {
  margin-right: 350px; 
}

#footer nav ul li:last-child {
  margin-right: 0;
}

#footer nav ul li a {
  text-decoration: none;
  color: black;
}
#footer nav ul li a:hover {
  color: white;
}



